<%= form_for(@timetable_modification) do |f| %>
  <% if @timetable_modification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timetable_modification.errors.count, "error") %> prohibited this timetable_modification from being saved:</h2>

      <ul>
      <% @timetable_modification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :calendar_id %><br>
    <%= f.number_field :calendar_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
