<div class="timetable_template_exercise ui-draggable ui-draggable-handle" data-id=<%= exercise_template.id %> data-duration=<%= exercise_template.timetable_template.calendar.therapy.duration_in_minutes %> style="position: absolute; top: <%= exercise_template.beginning.hour * 60 * TimetableTemplate.pixels_per_minute + exercise_template.beginning.min * TimetableTemplate.pixels_per_minute %>px;">
	<div class="timetable_template_exercise_handle"></div>
	<div class="timetable_template_exercise_time"><%= exercise_template.beginning.to_s(:time) %> - <%= (exercise_template.beginning + exercise_template.timetable_template.calendar.therapy.duration_in_minutes.minutes).to_s(:time) %></div>
	&nbsp;(<div class="timetable_template_exercise_status">U</div>)
</div> 