<div class="timetable_modification_modification timetable_modification_style" 
data-id=<%= exercise_modification.id %> 
data-tooltip="<%= get_modification_tooltip exercise_modification %>" 
data-duration=<%= exercise_modification.timetable_modification.calendar.therapy.duration_in_minutes %> 
data-calendar-id=<%= exercise_modification.timetable_modification.calendar.id %> 
style="position: absolute; top: <%= ((exercise_modification.date.hour * 60 + exercise_modification.date.min) * TimetableModification.pixels_per_minute) %>px; height: <%= exercise_modification.timetable_modification.calendar.therapy.duration_in_minutes * TimetableModification.pixels_per_minute %>px">
<%= get_time_range_string exercise_modification %>
</div> 