<div class="calendar_exercise_style calendar_modification_exercise free_exercise" 
data-id=<%= exercise_modification.id %> 
data-tooltip="<%= get_calendar_tooltip exercise_modification %>" 
data-duration=<%= exercise_modification.timetable_modification.calendar.therapy.duration_in_minutes %> 
data-calendar-id=<%= exercise_modification.timetable_modification.calendar.id %> 
style="position: absolute; top: <%= ((exercise_modification.date.hour * 60 + exercise_modification.date.min) * Calendar.pixels_per_minute) - beginning_offset %>px; height: <%= exercise_modification.timetable_modification.calendar.therapy.duration_in_minutes * Calendar.pixels_per_minute %>px">
<%= get_beginning_string exercise_modification %>
</div> 