<script>
$(function() {
	$("#user_access_level").change(function() {
		if(this.value == "registrovaný")
		{
			$(".goals").hide();
		}
		else
		{
		  	$(".goals").show();
		}
	});
});
</script>

<h2><%= @user.full_name %></h2>

<%= form_for(@user, url: ("admin_update")) do |f| %>
	<div class="field">
		<%= f.label :access_level, "Úroveň přístupu" %><br>
		<%= f.select(:access_level, User.access_levels, selected: params[:access_level]) %>
	</div>
	
	<div class="field goals">
		<%= f.label :goals, "Sledované hodnoty" %> (<%= link_to "přidat", new_available_value_path(return_to: admin_edit_user_path(@user)) %>)<br>
		<% if @values.count == 0 %>
		V systému nejsou zadané žádné sledovatelné hodnoty
		<% end %>
		<% @values.each do |key, value| %>
			<%= key.name %>
			<%= f.check_box("goals[" + key.id.to_s + "]", {checked: value}) %>
			<br />
		<% end %>
	</div>
	<%= f.submit "Aktualizovat" %>
<% end %>
