<script>
  var Chartkick = {"language": "cs"};
</script>
<%= javascript_include_tag "//www.google.com/jsapi" %>
<%= javascript_include_tag "application", "chartkick" %>

<div id="user_summary_accordion">
	<h2>Moje permanentky</h2>
	<div id="user_summary_tickets">
		<% if @tickets.count > 0 %>
			<table id="user_summary_tickets_table">
				<tr>
					<th>Konec platnosti</th>
					<th>Zbývá vstupů</th>
					<th>Terapie</th>
				</tr>
				<%= render partial: "tickets/user_summary_ticket_line", collection: @tickets %>
			</table>
		<% else %>
			Nemáte zakoupeny žádné permanentky
	<% end %>
	</div>
	
	<h2>Moje rezervace</h2>
	<div id="user_summary_exercises">
		<% if @exercises.count > 0 %>
			<table id="user_summary_exercises_table">
				<tr>
					<th>Datum a čas</th>
					<th>Terapie</th>
					<th>Akce</th>
				</tr>
				<%= render partial: "exercises/user_summary_exercise_line", collection: @exercises %>
			</table>
		<% else %>
			Nemáte žádné rezervace
		<% end %>
		<br />
		<%= link_to "Zaregistrovat novou", calendar_summary_path %>
	</div>
	
	<h2>Moje cíle</h2>
	<div id="user_summary_goals">
		<% if access_for_level?(User.al_customer) %>
			<%= column_chart tracked_value_chart_path %>
		<% else %>
			Pro monitorování osobních cílů si sjednejte osobní schůzku
		<% end %>
	</div>
	
	<% if access_for_level?(User.al_admin) %>
		<h2>Administrace</h2>
		<div id="user_summary_administration">
			<%= link_to "Terapie", therapies_path %><br />
			<%= link_to "Zaznamenat", new_records_path %><br />
			<%= link_to "Uživatelé", users_path %>
		</div>
	<% end %>
</div>