<p id="notice"><%= notice %></p>

<h1>Sledované hodnoty</h1>

<table>
  <thead>
    <tr>
      <th>Uživatel</th>
      <th>Available value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tracked_values.each do |tracked_value| %>
      <tr>
        <td><%= tracked_value.user_id %></td>
        <td><%= tracked_value.available_value_id %></td>
        <td><%= link_to 'Zobrazit', tracked_value %></td>
        <td><%= link_to 'Upravit', edit_tracked_value_path(tracked_value) %></td>
        <td><%= link_to 'Odstranit', tracked_value, method: :delete, data: { confirm: 'Jste si jisti?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tracked value', new_tracked_value_path %>
