<%= form_for(@record) do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tracked_value_id, "Typ záznamu" %><br>
    <%= f.collection_select(:tracked_value_id, TrackedValue.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :value, "Hodnota" %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :date, "Datum" %><br>
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit "Aktualizovat záznam" %>
  </div>
<% end %>
