<p id="notice"><%= notice %></p>

<% if @data[:user] %>
    <h1>Záznamy (<%= @data[:user].full_name %>)</h1>
<% else %>
    <h1>Záznamy</h1>
<% end %>

<table>
  <thead>
  <tr>
    <th>Datum</th>
    <% if !@data[:user] %><th>Jméno uživatele</th><% end %>
    <th>Sledovaný parametr</th>
    <th>Hodnota</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @records.each do |record| %>
      <tr>
        <td><%= l record.date %></td>
        <% if !@data[:user] %><td><%= record.tracked_value.user.full_name %></td><% end %>
        <td><%= record.tracked_value.available_value.name %></td>
        <td><%= record.value %></td>
        <td><%= link_to 'Upravit', edit_record_path(record) %></td>
        <td><%= link_to 'Odstranit', record, method: :delete %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to "Nový záznam", new_record_path %>
