<script>
$(function() {
	$(".type_selector").change(function() {
		if(this.value == "Omezená vstupy")
		{
			$(".entries").show();
		}
		else
		{
		  	$(".entries").hide();
		}
	});
	$(".type_selector").change();
	
	if(<%= params[:activate] == "nope" %>)
	{
		$(".activate").hide();
	}
});
</script>

<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  	<%= select_tag :type, options_for_select([ "Časově omezená", "Omezená vstupy" ], params[:type]), class: "type_selector" %>
  </div>
  <div class="field entries">
	<%= f.label :entries_remaining, "Zbývající vstupy", class: "entries" %><br>
	<%= f.number_field :entries_remaining, class: "entries" %>
  </div>
  <div class="field">
  	Platnost<br />
    <%= number_field_tag :time_restriction_days, params[:time_restriction_days] %>
    <%= label_tag :time_restriction_days, 'dní' %><br>
    <%= number_field_tag :time_restriction_months, params[:time_restriction_months] %>
    <%= label_tag :time_restriction_months, 'měsíců' %>
  </div>
  <div class="field activate">
    <%= label_tag :activate, 'Platí od dnešního dne' %>
    <%= check_box_tag :activate, true, params[:activate] %>
  </div>
  <div class="field">
    <%= f.label :therapy_id, "Terapie" %><br>
    <%= f.collection_select(:therapy_id, Therapy.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :user_id, "Uživatel" %><br>
    <%= f.collection_select(:user_id, User.all, :id, :full_name) %>
  </div>
  <div class="actions">
    <%= f.submit "Uložit" %>
  </div>
<% end %>
