<tr>
	<td><% if ticket.activated_on == nil %>
			ještě nebyla aktivována
		<% else %>
			<%= l (ticket.activated_on + ticket.time_restriction), format: :date %>
		<% end %>
	</td>
	<td>
		<% if ticket.entries_remaining == -1 %>
			není omezená vstupy
		<% else %>
			<%= ticket.entries_remaining %>
		<% end %>
	</td>
	<td>
		<%= ticket.therapy_category.name %> (<%= (ticket.therapy_category.therapies.map { |therapy| therapy.name }).join(", ").downcase %>)
	</td>
	<td>
		<%= b_to_s ticket.paid %>
	</td>
	<td>
		<%= ticket.user.full_name %>
	</td>
	<% if admin %>
		<td><%= link_to 'Upravit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Odstranit', ticket, method: :delete, data: { confirm: 'Jste si jisti?' } %></td>
	<% end %>
</tr>
