<tr>
  <td>
    <% if ticket.activated_on == nil %>
        ještě nebyla aktivována
    <% else %>
        <%= l (ticket.activated_on + ticket.time_restriction), format: :date %>
    <% end %>
  </td>
  <td>
    <% if ticket.entries_remaining == -1 %>
        není omezená vstupy
    <% else %>
        <%= ticket.entries_remaining %>
    <% end %>
  </td>
  <td>
    <%= b ticket.paid %>
  </td>
  <td>
    <% if ticket.therapy_category.therapies.count > 0 %>
        <%= ticket.therapy_category.name %>
        (<%= (ticket.therapy_category.therapies.map { |therapy| therapy.name }).join(", ").downcase %>)
    <% else %>
        <%= ticket.therapy_category.name %>
    <% end %>
  </td>
  <td>
    <% if ticket.entries_available?(@data[:date], therapy) %>
        <%= button_to "Použít", {controller: "exercise_register", action: "subscribe", mode: @data[:mode], method: :post, date: @data[:date], id: @data[:object].id, ticket_id: ticket.id, beginning_offset: @data[:beginning_offset]}, class: "ticket_selector_use_button", remote: true %>
    <% else %>
        <%= ticket.get_entries_unavailable_error(@data[:date], therapy) %>
    <% end %>
  </td>
</tr>
