<h2>Týdenní plány</h2>
<table>
	<th>Platí od</th>
	<th></th>
	<% calendar.timetable_templates.find_each do |timetable_template| %>
		<tr>
			<td><%= l timetable_template.beginning %></td>
			<td><%= link_to 'Upravit', edit_timetable_template_path(timetable_template) %></td>
			<td><%= link_to 'Odstranit', timetable_template, method: :delete, data: { confirm: 'Jste si jisti?' } %></td>
		</tr>
	<% end %>
</table>
<%= link_to 'Nový týdenní plán', new_timetable_template_path(calendar_id: calendar.id) %>
<h2>Modifikace</h2>
<table>
	<% calendar.timetable_modification.exercise_modifications.where("date > ?", Time.now).order(:date).each do |exercise_modification| %>
		<tr>
			<td><%= exercise_modification.date.strftime("%d. %m. %Y") %></td>
			<td class="multi_line"><p><%= exercise_modification.get_string %></p></td>
			<td><%= link_to 'Upravit', edit_exercise_modification_path(exercise_modification), remote: true %></td>
			<td><%= link_to 'Odstranit', exercise_modification, method: :delete, data: { confirm: 'Jste si jisti?' } %></td>
		</tr>
	<% end %>
</table>
<%= link_to 'Upravit modifikace', edit_timetable_modification_path(calendar.timetable_modification) %>
