<style type="text/css">
	#calendar_timetable
	{
  		border-collapse: collapse;
	}
	td
  	{
    	width: 10em;
    	border: 1px solid black;
  	}
	.calendar_template_exercise
	{
		border: 2px solid black;
    	width: 100%;
	}
	.calendar_exercise
	{
		border: 2px solid black;
    	width: 100%;
	}
	.calendar_weekday
	{
		position: relative;
		vertical-align: top;
	}
	.calendar_hour
	{
		height: <%= Calendar.pixels_per_minute * 60 %>px;
		text-align: center;
		position: relative;
		border-bottom: 1px solid black;
		margin-bottom: -2px;
	}
	.free_exercise
	{
		background-color: green;
	}
	.full_exercise
	{
		background-color: red;
	}
	.signed_exercise
	{
		background-color: yellow;
	}
</style>

<script>
	function setupHandlersFor(id)
	{
			$(".calendar_exercise[data-id=" + id + "]").click(function(event)
			{
				var clicked = $(this);
				if(clicked.data("registered-by-current-user") == true)
				{
					if(confirm("Na toto cvičení jste již přihlášen. Chcete se z něj odhlásit?"))
					{
						$.ajax({
							type: "POST",
							url: "/users/unsubscribe_from",
							data: { exercise_id: clicked.data("id"), source: "calendar_view", beginning_offset: $("#calendar_timetable").data("beginning_offset") },
							dataType: 'script',
							format: 'js',
							success: function(msg){
								setupHandlersFor(clicked.data("id"));
							}
						});
					}
				}
				else
				{
					$.ajax({
						type: "POST",
						url: "/users/subscribe_for_existing",
						data: { exercise_id: clicked.data("id"), beginning_offset: $("#calendar_timetable").data("beginning_offset") },
						dataType: 'script',
						format: 'js',
						success: function(msg){
							setupHandlersFor(clicked.data("id"));
						}
					});
				}
			});
	}

	$(function() {
		$(".calendar_template_exercise").click(function(event)
			{
				var clicked = $(this);
				$.ajax({
					type: "POST",
					url: "/users/subscribe_for_new",
					data: { exercise_template_id: clicked.data("id"), date: clicked.data("date"), beginning_offset: $("#calendar_timetable").data("beginning_offset") },
					dataType: 'script',
					format: 'js',
					success: function(msg){
						setupHandlersFor(clicked.data("id"));
					}
				});
			});
			
		$(".calendar_exercise").click(function(event)
			{
				var clicked = $(this);
				if(clicked.data("registered-by-current-user") == true)
				{
					if(confirm("Na toto cvičení jste již přihlášen. Chcete se z něj odhlásit?"))
					{
						$.ajax({
							type: "POST",
							url: "/users/unsubscribe_from",
							data: { exercise_id: clicked.data("id"), source: "calendar_view", beginning_offset: $("#calendar_timetable").data("beginning_offset") },
							dataType: 'script',
							format: 'js',
							success: function(msg){
								setupHandlersFor(clicked.data("id"));
							}
						});
					}
				}
				else
				{
					$.ajax({
						type: "POST",
						url: "/users/subscribe_for_existing",
						data: { exercise_id: clicked.data("id"), beginning_offset: $("#calendar_timetable").data("beginning_offset") },
						dataType: 'script',
						format: 'js',
						success: function(msg){
							setupHandlersFor(clicked.data("id"));
						}
					});
				}
			});
	});
</script>

<table id="calendar_timetable" data-beginning_offset=<%= @beginning_offset %>>
	<tr>
		<td></td>
		<% counter = 0 %>
		<% I18n.t(:"date.day_names").rotate.each do |weekday_name| %>
			<td><%= weekday_name %> (<%= l(@monday_date + counter.days) %>)</td>
			<% counter += 1 %>
		<% end %>
	</tr>
	<tr>
		<td> 
			<% for hour in @first_hour..@last_hour %>
				<div class="calendar_hour">
					<%= hour %>:00
				</div>
			<% end %>
		</td>
		
		<% for weekday in 0..6 %>
			<td class="calendar_weekday" oncontextmenu="return false;" data-weekday=<%= weekday %>">
				<% date = @monday_date + weekday.days %>
				<% @templates.where(weekday: weekday).each do |template| %>
					<%= render partial: "exercise_templates/exercise_template_for_calendar", locals: { exercise_template: template, date: date, beginning_offset: @beginning_offset } %>
				<% end %>
				
				<% @registered.where("date::date = ?", date).each do |registered| %>
					<%= render partial: "exercises/exercise", locals: { exercise: registered, beginning_offset: @first_hour * 60 * Calendar.pixels_per_minute } %>
				<% end %>
			</td>
		<% end %>
	</tr>
</table>
