<%= form_for(@therapy) do |f| %>
  <% if @therapy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@therapy.errors.count, "error") %> prohibited this therapy from being saved:</h2>

      <ul>
      <% @therapy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Jméno" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :capacity, "Maximální počet osob" %><br>
    <%= f.text_field :capacity %>
  </div>
  <div class="field">
    <%= f.label :duration_in_minutes, "Délka v minutách" %><br>
    <%= f.text_field :duration_in_minutes %>
  </div>
  <div class="actions">
    <%= f.submit "Odeslat" %>
  </div>
<% end %>
