<p id="notice"><%= notice %></p>

<h1><%= @therapy.name %></h1>

<p>
  <strong>Maximální počet osob:</strong>
  <%= @therapy.capacity %>
</p>

<p>
  <strong>Délka v minutách:</strong>
  <%= @therapy.duration_in_minutes %>
</p>

<p>
  <%= link_to 'Rezervace', @therapy.calendar %></br>
  <%= link_to 'Předloha', @therapy.calendar.timetable_template %>
</p>

<%= link_to 'Upravit', edit_therapy_path(@therapy) %> |
<%= link_to 'Zpět', therapies_path %>
