<p id="notice"><%= notice %></p>

<h1><%= @therapy.name %></h1>

<h2>Terapie</h2>

<p>
  <strong>Maximální počet osob:</strong>
  <%= @therapy.capacity %>
</p>

<p>
  <strong>Délka v minutách:</strong>
  <%= @therapy.duration_in_minutes %>
</p>

<p>
  <strong>Lze zarezervovat bez permanentky:</strong>
  <%= b @therapy.can_single_use %>
</p>


<%= link_to 'Upravit', edit_therapy_path(@therapy) %>

<p>
  <%= render partial: "calendars/calendar", locals: { calendar: @therapy.calendar } %>
</p>

<%= link_to 'Zpět', therapies_path %>
