<%= form_for(@available_value) do |f| %>
  <% if @available_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@available_value.errors.count, "error") %> prohibited this available_value from being saved:</h2>

      <ul>
      <% @available_value.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, Jméno %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "Vytvořit sledovatelnou hodnotu" %>
  </div>
<% end %>
