<p id="notice"><%= notice %></p>

<h1>Listing Available Values</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @available_values.each do |available_value| %>
      <tr>
        <td><%= available_value.name %></td>
        <td><%= link_to 'Zobrazit', available_value %></td>
        <td><%= link_to 'Upravit', edit_available_value_path(available_value) %></td>
        <td><%= link_to 'Odstranit', available_value, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Available value', new_available_value_path %>
