<p id="notice"><%= notice %></p>

<% if @data[:user] %>
    <h1>Cíle (<%= @data[:user].full_name %>)</h1>
<% else %>
    <h1>Cíle</h1>
<% end %>

<table>
  <thead>
    <tr>
      <th>Datum</th>
      <% if !@data[:user] %><th>Jméno uživatele</th><% end %>
      <th>Sledovaný parametr</th>
      <th>Hodnota</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goals.each do |goal| %>
      <tr>
        <td><%= l goal.date %></td>
        <% if !@data[:user] %><td><%= goal.tracked_value.user.full_name %></td><% end %>
      	<td><%= goal.tracked_value.available_value.name %></td>
        <td><%= goal.value %></td>
        <td><%= link_to 'Zobrazit', goal %></td>
        <td><%= link_to 'Upravit', edit_goal_path(goal) %></td>
        <td><%= link_to 'Odstranit', goal, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Přidat cíl', new_goal_path %>
