<ul id="primary_menu">
  <li><%= get_menu_link 'Přehled', nav_summary_path %></li>
  <li><%= get_menu_link 'Rozvrh', nav_reservations_path %></li>
  <li><%= get_menu_link 'Cíle', nav_goals_path if access_for_level?(User.al_customer) %></li>
  <li><%= get_menu_link 'Můj účet', nav_my_account_path %></li>
  <li><%= get_menu_link 'Administrace', nav_administration_path if access_for_level?(User.al_admin) %></li>
</ul>