<% set_title "Cíle" %>
  <%= javascript_include_tag "http://code.highcharts.com/highcharts.js" %>
  <%= javascript_include_tag "application", "chartkick" %>
  <script>
      Highcharts.setOptions({
          lang: {
              months: ['Leden', 'Únor', 'Březen', 'Duben', 'Květen', 'Červen', 'Červenec', 'Srpen', 'Září', 'Říjen', 'Listopad', 'Prosinec'],
              weekdays: ['Neděle', 'Pondělí', 'Úterý', 'Středa', 'Čtvrtek', 'Pátek', 'Sobota'],
              shortMonths: ["Led", "Úno", "Bře", "Dub", "Kvě", "Čvn", "Čvc", "Srp", "Zář", "Říj", "Lis", "Pro"]
          }
      });
  </script>




<% if @user.access_for_level?(User.al_customer) %>
    <% if @user.tracked_values.count == 0 %>
        Nemáte zapsané žádné sledované hodnoty
    <% end %>

    <table>
      <tr>
        <th>Název</th>
        <th>Aktuální hodnota</th>
        <th>Další cíl</th>
      </tr>
      <% @user.tracked_values.find_each do |tracked| %>
          <tr>
            <td><%= tracked.name %></td>
            <td><%= tracked.current_value ? tracked.current_value.value.to_s + " (" + l(tracked.current_value.date) + ")" : "Nebyla zaznamenány žádné hodnoty" %></td>
            <td><%= tracked.next_goal ? tracked.next_goal.value.to_s + " (" + l(tracked.next_goal.date) + ")" : "Žádné nadcházející cíle" %></td>
          </tr>
      <% end %>
    </table>

    <% @user.tracked_values.each do |tracked| %>
        <span class="user_summary_tracked_value_name"><%= tracked.available_value.name %></span>
        <%= line_chart tracked_value_chart_path(tracked_value_id: tracked.id), library: {chart: {marginTop: 30}} %>
    <% end %>
<% else %>
    Pro monitorování osobních cílů si sjednejte schůzku
<% end %>