<% set_title "Rozvrh" %>

<div id="calendars_summary_tickets">
  <h2 class="reservations_bar_title">Permanentky</h2>
  <div id="calendars_summary_tickets_list">
    Vyberte terapii pro zobrazení permanentek
  </div>
</div>
<div id="calendars_summary_calendars">
  <ul>
    <% Therapy.select(:id, :name).each do |therapy| %>
        <li><a href="#tab-<%= therapy.id %>" class="calendar-tab-anchor" data-therapy-id="<%= therapy.id %>"><%= therapy.name %></a></li>
    <% end %>
  </ul>
  <% Therapy.find_each do |therapy| %>
      <div id="tab-<%= therapy.id %>">
        <%= render partial: "calendars/calendar_final_with_week_selector", locals: {calendar: therapy.calendar, beginning_date: Date.today} %>
      </div>
  <% end %>
  <div id="calendars_summary_color">
    <div id="calendars_summary_color_left">
      <div id="calendars_summary_color_free"></div>
      volno (jinak barva dle trenéra)
    </div>
    <div id="calendars_summary_color_mid">
      <div id="calendars_summary_color_my"></div>
      moje rezervace
    </div>
    <div id="calendars_summary_color_right">
      <div id="calendars_summary_color_full"></div>
      plně obsazeno
    </div>
  </div>
</div>
<div id="calendars_summary_coaches">
  <h2 class="reservations_bar_title">Trenéři</h2>
  <% @data[:coaches].each do |coach| %>
      <div class="coach_bar_div">
        <div class="coach_bar_name"><%= coach.name %></div>
        <div class="coach_color_div">barva v rozvrhu<div class="coach_color_box" style="background-color: <%= coach.color_code %>"></div></div>
      </div>
  <% end %>
</div>
