<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) + " - " if yield(:title) != "" %> ClubSante</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name=viewport content="width=device-width, initial-scale=1">
</head>
<body>
<div id="container">
  <div id="page">
    <div id="header">
      <div id="web_title">Club Sante</div>
    </div>
    <div id="content">
      <div id="menu">
        <ul id="secondary_menu">
          <li><%= link_to current_user.full_name, nav_my_account_path, class: 'menu_secondary_button' if access_for_level?(User.al_registered) %></li>
        </ul>
        <%= render partial: "menu" %>
      </div>
      <div id="yield">
        <% if notice %>
            <p id="notice">
              <%= notice %>
            </p>
        <% end %>
        <% if alert %>
            <p id="alert">
              <%= alert.html_safe %>
            </p>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
