<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) + " - " if yield(:title) != "" %> ClubSante</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name=viewport content="width=device-width, initial-scale=1">
</head>
<body>
<div id="container">
  <div id="page">
    <div id="header">
      <div id="web_title">Club Sante</div>
    </div>
    <div id="content">
      <%= link_to current_user.full_name, nav_my_account_path, class: 'right_float_actions btn btn-default menu_secondary_button' if access_for_level?(User.al_registered) %>
      <%= render partial: "menu" %>
      <div id="yield">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
